.container{
    border: 2px solid aqua;
    text-align: center;
    max-width: 800px;
    height: auto;
    min-height: 200px;
    margin: auto;
}
input{
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 1rem;
}